html, body {
    margin: 0;
    padding: 0;
    min-width: 320px;
}
body {
    background: #fff;
    color: #222;
    font-family: 'GolosTextWebRegular', sans-serif;
    font-size: 12pt; /* ~16px */
    line-height: 1.618em;
}
main {
    box-sizing: border-box;
    word-break: break-word;
    max-width: 45rem;
    margin: 0 auto;
    padding: 3rem 4rem 6rem 2rem;
    display: flow-root;
}
@media all and (max-width: 480px) {
    main {
        padding: 1rem;
    }
}
