@font-face{font-family:'GolosTextWebRegular';src:url('golostr.eot');src:url('golostr.eot?#iefix')format('embedded-opentype'),url('golostr.woff2')format('woff2'),url('golostr.woff')format('woff'),url('golostr.ttf')format('truetype');font-weight:normal;font-style:normal;}

